cookbook/src/main/app/cookbook.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="cookbookFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/cookbook/concateHello" doc:name="HTTP"/>
        <logger message="MY PAYLOAD : #[message.inboundProperties.'http.query.params'.['name']]" level="INFO" doc:name="Logger"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.['name']]" doc:name="Set Payload"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="concateHello" connector-ref="myCommonConnector" doc:name="VM"/>
        <logger message="PAYLOAD AFTER CALLING VM : #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
