common-services/src/main/app/common-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    
    <flow name="common-servicesFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" connector-ref="myCommonConnector"  doc:name="VM" metadata:id="fe6885f5-6321-455a-b69e-650aea9f99c8" path="concateHello"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="ec2e70f6-28ea-4e12-babd-3d8e2964f3e6">
            <dw:input-payload doc:sample="sample_data\string.dwl"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
'Hello ' ++ payload]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
    </flow>
</mule>
